*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/.idea
/captures
.externalNativeBuild
app/build.gradle
app/libs/
app/proguard-rules.pro
app/src/
build.gradle
captures/
gradle.properties
gradle/
gradlew
gradlew.bat
settings.gradle
